:root {
  --image-height:400px;
  --image-width:600px;
  --title-height:3rem
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-image {
  max-height: var(--image-height);
  width: var(--image-width);
  object-fit: scale-down;
}


.carousel-container {
  position: relative; 
  width: 100%;
  height: calc(var(--image-height) + var(--title-height));
  width: var(--image-width);
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%; 
}

.carousel-item.active {
  opacity: 1;
  z-index: -1;
}

.slide-title{
  background-color: gray;
  text-align: center;  
  height: var(--title-height);
  line-height: var(--title-height);  
  margin-top: -4px;
}
 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h1 {
  text-align: center;
}

.carousel-button {
  font-size: 2rem;
  width: 3rem;
  border-radius: 100%;
  aspect-ratio: 1;
  background-color: lightgray;
  border: none;
}

.bullet-navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.bullet-navigation li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;

}

.bullet-navigation li.active {
  background-color: grey;
}





